
{% load static %}


<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Zen+Dots&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/gasto.css' %}"/>
    <title>Gastos</title>
    
</head>

<body>

  <form action="URL_del_script_de_procesamiento" method="método_de_envío">
      <div class="form-group">
          <div class="textoselect"> 
              <label for="categoria">
                <select id="categoria" name="categoria" style="width: 230px; height: 45px; font-size: 20px;">
                    <option value="servicioBasico">Servicio Basico</option>
                    <option value="prestamos">Prestamos</option>
                    <option value="alimentacion">Alimentación</option>
                    <option value="alquiler">Alquiler</option>
                    <option value="movilizacion">Movilización</option>
                    <option value="vestimenta">Vestimenta</option>
                    <option value="educacion">Educacion</option>
                    <option value="salud">Salud</option>
                    <option value="vivienda">Vivienda</option>
                    <option value="turismo">Turismo</option>
                    <option value="otros">Otros</option>
                    
                </select>
              </label>
          </div>
          
          <div class="descripcion">
            <label for="descripcion" class="textodescripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" />
          </div>
          <div class="linea-input1"></div>
          
          <div class="valor-dinero">
            <label for="valorDinero" class="texto-valor-dinero">$0,00</label>
            <input type="text" id="valorDinero" name="valorDinero" onclick="borrarTextoValor()" />
            <div class="linea-valor-dinero"></div>
          </div>

          <div class="linea-input2"></div>
          

              <label for="fechaDesde" class="textoFecha">
                <input type="date" id="fechaDesde" style="width: 200px; height: 45px; " name="fechaDesde"  required />
              </label>
              
              
                                                      
      </div>
      <div class="botonAzul">
            
      </div>
      <b>
        <i>
          <button >
              <span class="textoBotonagregarG">Agregar gastos <span class="iconomas"></span></span>

          </button>
          
        </i>
      </b>
      <div class="botonverde">
        <span class="texto-gasto-mensual">Total de gastos mensuales</span>
        <span class="monto-gasto-mensual">$0.00</span>
      </div>
      <div class="iconoCalendario1"></div>
      <div class="iconocasita"></div>

      <div>

      </div>
      
           
      <div class="barraceleste"></div>
      <span class="nomproyecto">BUDGET MASTER</span>

      <b>
        <i>
          <span class="textoAgregargastos">Agregar Gastos</span>
        </i>

      </b>
      <a href="" class="registroIngresosygastos">Registrar ingresos y gastos</a>
      <a href="/apps/Main_module/static" class="inicio">Inicio</a>
      <a href="agregar_gasto/" class="enlaceAgregargastos">Agregar gastos</a>

      <span class="separador1">></span>
      <span class="separador2">></span>
      
      <span class="iconoSalir"></span>
      <button class="listas-gastos-btn">Listas de gastos</button>
      <button class="categoria-btn">Categoría</button>

      
      

  


  </form>

        

</body>

</html>
