{% extends 'base.html' %}

{% load static %}

{% block title %}Gastos e Ingresos{% endblock %}


{% block content %}

    <div class="cuadroAingresos"></div>
    <span class="agregaringreso">  AGREGAR INGRESOS </span>
    <div class="iconoAingresos"></div>
    <div class="cuadrohistorial"></div>
    <span class="historial">HISTORIAL</span>
    <div class="cuadroAgastos"></div>
    <span class="agregargastos">AGREGAR GASTOS</span>
    <div class="iconocarrito"></div>
    <div class="separador">></div>

    <a href="url_de_la_pagina_de_registro" class="registroIngresosygastos">Registro de ingresos y gastos</a>

    <div class="iconohistorial"></div>
    <div class="separador"></div>

    <a href="url_de_la_pagina_de_inicio" class="inicio">Inicio</a>


{%endblock%}