{% extends 'base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}


{% block content %}
            <div class="cuadroRegisInGas"></div>

    <div class="cuadroBalanceInGas"></div>
    <span class="textoRegisInGas">
        <a href="/Home/Gastos_Ingreso_modulo/">
        Registro de ingresos y gastos
        </a>
    </span>
    <div class="iconoRegis1"></div>
    <div class="iconoRegis2"></div>
        <a href="balance/">
    <span class="textoBalance">Balance de ingresos y gastos</span>
            </a>
    <div class="iconoBalance"></div>
        <a href="Perfil_usuario/">
    <div class="cuadroPerfil"></div>
    <span class="textoPerfil">Perfil</span>
            </a>
    <div class="cuadroPrediccion"></div>
    <span class="textoPrediccion">Predicción de precios</span>
    <div class="iconoPrediccion"></div>
    <span class="textoBienvenido">Bienvenido!</span>
    <div class="iconoPerfil"></div>


    <span class="inicio">Inicio</span>

  </div>



{%endblock%}