{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Zen+Dots&display=swap" rel="stylesheet" />
    <link href="{% static './css/registro_usuario.css'%}" rel="stylesheet" />

    <title>Registro de nuevo usuario</title>
</head>

<body>
   <form method="post">
  {% csrf_token %}
 <div class="div-boton">
    <button type="submit">Registrarse</button>
  </div>



  <div class="div-nombres">
    {{ form.nombres }}
  </div>

  <div class="div-apellidos">
    {{ form.apellidos }}
  </div>

  <div class="div-cedula">
    {{ form.cedula }}
  </div>

  <div class="div-fecha-nacimiento">
    {{ form.fecha_nacimiento }}
  </div>

  <div class="div-correo">
    {{ form.correo }}
  </div>

  <div class="div-telefono">
    {{ form.telefono }}
  </div>

  <div class="div-nombre-usuario">
    {{ form.nomusuario }}
  </div>

  <div class="div-contraseña">
    {{ form.contraseña }}
  </div>

  <div class="div-confirmar-contraseña">
    {{ form.confirmacion }}
  </div>


</form>

    <div class="barraceleste"></div>

    <span class="nomproyecto">BUDGET MASTER</span>
    <a href="" class="inicio">Inicio</a>
    <span class="separador"> > </span>
    <div class="iconoSalir"></div>

    <a href="" class="registrousuario">Registro de usuario</a>
    <div class="imagenusuario"></div>

    <span class="registronuevo">Registro de nuevo usuario</span>

</body>

</html>
